<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../_meta %>
		<% include ../_TDK %>
		<% include ../_stylesheets%>
	</head>
	<body style="overflow:scroll">
		<% include ../_script %>
		<%- body %>
		
	</body>
</html>