<!DOCTYPE html>
<html lang="en">
	<head>
	<title><%=title%></title>
		<% include ../_meta %>
		<link rel="stylesheet" href="stylesheets/src/mui.css" />
		<link rel="stylesheet" href="stylesheets/src/main.css" />
	</head>
	<body>
		<% include ../_script %>
		<%- body %>
		
	</body>
</html>