<!DOCTYPE html>
<html lang="en">
	<head>
	<title><%=title%></title>
		<% include ../_meta %>
		<link rel="stylesheet" href="/stylesheets/src/card-list.css" />
	</head>
	<body style="overflow:scroll">
		<% include ../_script %>
		<%- body %>
		
	</body>
</html>