<div id="main" class="show appundefined platundefined">
    <div class="page base show" id="page-index" step="1">
        <div class="top head">
            <span class="back"></span>
            <h1>办卡</h1>
            <span class="refresh chpos" id="chpos">深圳</span>
        </div>
        <div class="wrap" id="index" style="overflow: scroll;">
            <div class="con">
                <p class="alert">
                    信用卡申请不需要任何费用，谨防电话诈骗！
                </p>
                <div class="centerblock" id="indexmodule">
                    <div class="wblock" id="jrtj">
                        <h1 class="title">今日推荐</h1>
                        <ul class="clickpa three recommend" id="recommend">
                            <li rel="48" link="https://h5.u51.com/u51/bankactive10/live/index.html?id=49" title="光大送iPhone">
                                <div>
                                    <h2>光大送iPhone</h2>
                                    <p>申卡即抽</p>
                                </div><img src="https://pic.51zhangdan.com/2017/2/il/fT/Qzo5ZBElOYtCcGzv934ziCyDz84VYdyp.jpg"></li>
                            <li rel="40" link="https://h5.u51.com/u51/bankactive10/live/index.html?id=38" title="网申快速秒批卡">
                                <div>
                                    <h2>网申快速秒批卡</h2>
                                    <p>最快3秒核发</p>
                                </div><img src="https://pic.51zhangdan.com/2016/12/hq/WQ/hge2Ijg4ZTeLOun6WegshHzPwwx9guwr.jpg"></li>
                            <li rel="47" link="http://cgbchina.cn/BKbRBTh" title="广发DIY卡">
                                <div>
                                    <h2>广发DIY卡</h2>
                                    <p>自带三倍积分</p>
                                </div><img src="https://pic.51zhangdan.com/2017/2/1l/gK/7F3unkic84J6zOA9KdvmE9ogCs5ApRvz.jpg"></li>
                        </ul>
                    </div>
                    <div class="wblock" id="rmyh">
                        <h1 class="title">热门银行</h1>
                        <ul class="clickpa" id="online_list">
                            <li link="https://xyk.cebbank.com/cebmms/apply/ps/card-list.htm?pro_code=FHTG230000SJ08XM51" rel="3"><img src="https://www.51zhangdan.com/assets/image/banklogo/3.png?uptime=20161223">
                                <div>
                                    <h2>光大银行</h2>
                                    <p>办卡赢iPhone</p>
                                </div><span class="hot">活动</span></li>
                            <li link="http://www.51zhangdan.com/www_bks/v4/bkdetail/allbk.html?bankId=2&amp;&amp;cityCode=4403" rel="2"><img src="https://www.51zhangdan.com/assets/image/banklogo/2.png?uptime=20161223">
                                <div>
                                    <h2>广发银行</h2>
                                    <p>新户刷卡满额赏</p>
                                </div><span class="hot">hot</span></li>
                            <li link="http://www.51zhangdan.com/www_bks/v4/bkdetail/allbk.html?bankId=15&amp;&amp;cityCode=4403" rel="15"><img src="https://www.51zhangdan.com/assets/image/banklogo/15.png?uptime=20161223">
                                <div>
                                    <h2>平安银行</h2>
                                    <p>2017元新春红包</p>
                                </div>
                            </li>
                            <li link="http://www.51zhangdan.com/www_bks/v4/bkdetail/allbk.html?bankId=9&amp;&amp;cityCode=4403" rel="9"><img src="https://www.51zhangdan.com/assets/image/banklogo/9.png?uptime=20161223">
                                <div>
                                    <h2>兴业银行</h2>
                                    <p>最快当天下卡</p>
                                </div><span class="hot">高额</span></li>
                            <li link="http://www.51zhangdan.com/www_bks/v4/bkdetail/allbk.html?bankId=11&amp;&amp;cityCode=4403" rel="11"><img src="https://www.51zhangdan.com/assets/image/banklogo/11.png?uptime=20161223">
                                <div>
                                    <h2>中信银行</h2>
                                    <p>吃货238元大红包</p>
                                </div><span class="hot">火爆</span></li>
                            <li link="http://www.51zhangdan.com/www_bks/v4/bkdetail/allbk.html?bankId=6&amp;&amp;cityCode=4403" rel="6"><img src="https://www.51zhangdan.com/assets/image/banklogo/6.png?uptime=20161223">
                                <div>
                                    <h2>民生银行</h2>
                                    <p>天天民生日</p>
                                </div>
                            </li>
                            <li link="https://mbank.spdbccc.com.cn/creditcard/indexActivity.htm?data=000016" rel="8"><img src="https://www.51zhangdan.com/assets/image/banklogo/8.png?uptime=20161223">
                                <div>
                                    <h2>浦发银行</h2>
                                    <p>刷卡领红包</p>
                                </div>
                            </li>
                            <li link="http://act.akmob.cn/citicard/m/index.aspx?src=8" rel="43"><img src="https://www.51zhangdan.com/assets/image/banklogo/43.png?uptime=20161223">
                                <div>
                                    <h2>花旗银行</h2>
                                    <p>新户送新秀丽</p>
                                </div>
                            </li>
                            <li link="http://act.akmob.cn/cmb/m/Index.aspx?src=1" rel="1"><img src="https://www.51zhangdan.com/assets/image/banklogo/1.png?uptime=20161223">
                                <div>
                                    <h2>招商银行</h2>
                                    <p>10元风暴疯狂刷</p>
                                </div>
                            </li>
                            <li link="http://i.creditcard.gzcb.com.cn/web/index.html?channel=guangjia&amp;id=guanjia01" rel="26"><img src="https://www.51zhangdan.com/assets/image/banklogo/26.png?uptime=20161223">
                                <div>
                                    <h2>广州银行</h2>
                                    <p>开卡送双肩包</p>
                                </div><span class="hot">hot</span></li>
                            <li link="http://www.51zhangdan.com/www_bks/v4/bkdetail/allbk.html?bankId=56&amp;&amp;cityCode=4403" rel="56"><img src="https://www.51zhangdan.com/assets/image/banklogo/56.png?uptime=20161223">
                                <div>
                                    <h2>浙商银行</h2>
                                    <p>12306购火车票立减</p>
                                </div>
                            </li>
                            <li></li>
                        </ul>
                        <div class="allcard click" id="allcard">全部信用卡</div>
                    </div>
                    <div class="wblock" id="banner">
                        <div class="flexslider" id="bslide">
                            <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                <ul class="slides" style="width: 1400%; transition-duration: 0.6s; transform: translate3d(-1216px, 0px, 0px);">
                                    <li title="极速办卡 最快当天下卡" url="https://h5.u51.com/u51/bankactive10/live/index.html?id=38&amp;update=20161227" rel="48" class="clone" aria-hidden="true" style="width: 304px; float: left; display: block;"><img src="https://pic.51zhangdan.com/2016/12/UU/h2/Kl8DroFFIyTXdElCb8p3Ai3zM0y7V3ki.png" draggable="false"></li>
                                    <li title="中信新户专享礼遇" url="http://creditcard.ecitic.com/h5/youhui/170113/index.html?sid=SJ51XYKAPP" rel="52" class="" style="width: 304px; float: left; display: block;"><img src="https://pic.51zhangdan.com/2017/2/3m/tZ/8ojem4BaIrvpdAY0TOqsK7tJ83ggzDKI.png" draggable="false"></li>
                                    <li title="光大送iPhone" url="https://h5.u51.com/u51/bankactive10/live/index.html?id=49" rel="53" class="" style="width: 304px; float: left; display: block;"><img src="https://pic.51zhangdan.com/2017/2/6Q/XE/e8nPBM3L7M8S1HtKECxz4VfVK9qA7O0h.png" draggable="false"></li>
                                    <li title="2017 红包不停" url="https://h5.u51.com/u51/bankactive10/live/index.html?id=45" rel="51" class="" style="width: 304px; float: left; display: block;"><img src="https://pic.51zhangdan.com/2017/1/Wv/61/YeAQHo7d2ewD97njScd7pqdJ2EDK9OnR.png" draggable="false"></li>
                                    <li title="光大阳光白金卡" url="https://h5.u51.com/u51/bankactive10/live/index.html?id=40" rel="49" class="flex-active-slide" style="width: 304px; float: left; display: block;"><img src="https://pic.51zhangdan.com/2017/1/Dk/94/T7MpzmSK1udXrHjwx70AsZN5vxHfIhKQ.png" draggable="false"></li>
                                    <li title="极速办卡 最快当天下卡" url="https://h5.u51.com/u51/bankactive10/live/index.html?id=38&amp;update=20161227" rel="48" class="" style="width: 304px; float: left; display: block;"><img src="https://pic.51zhangdan.com/2016/12/UU/h2/Kl8DroFFIyTXdElCb8p3Ai3zM0y7V3ki.png" draggable="false"></li>
                                    <li title="中信新户专享礼遇" url="http://creditcard.ecitic.com/h5/youhui/170113/index.html?sid=SJ51XYKAPP" rel="52" class="clone" aria-hidden="true" style="width: 304px; float: left; display: block;"><img src="https://pic.51zhangdan.com/2017/2/3m/tZ/8ojem4BaIrvpdAY0TOqsK7tJ83ggzDKI.png" draggable="false"></li>
                                </ul>
                            </div>
                            <ol class="flex-control-nav flex-control-paging">
                                <li><a class="">1</a></li>
                                <li><a class="">2</a></li>
                                <li><a class="">3</a></li>
                                <li><a class="flex-active">4</a></li>
                                <li><a class="">5</a></li>
                            </ol>
                        </div>
                    </div>
                    <div class="wblock" id="ztjx">
                        <h1 class="title">主题精选</h1>
                        <ul class="theme clickpa" id="theme">
                            <li rel="44" link="https://www.51zhangdan.com/www_bks/v4/bkdetail/allbk.html?type_name=types&amp;type_rel=5&amp;&amp;cityCode=4403" title="女性专属卡">
                                <div>
                                    <h2>女性专属卡</h2>
                                    <p>精致女人都有它</p>
                                </div><img src="https://pic.51zhangdan.com/2016/12/kV/0G/IDQ5SqMz8d6CTdWpWr35bKvOhlHCFOeF.png"></li>
                            <li rel="46" link="https://h5.u51.com/u51/bankactive10/live/index.html?id=43" title="新年50元红包">
                                <div>
                                    <h2>新年50元红包</h2>
                                    <p>光大首刷即送</p>
                                </div><img src="https://pic.51zhangdan.com/2017/1/Yp/cx/F7w9rk0RH9Mg5R6HYnSuRqFhl9Rrg5zd.png"></li>
                            <li rel="36" link="https://h5.u51.com/u51/bankactive10/live/index.html?id=31&amp;update=20161227" title="高额卡推荐">
                                <div>
                                    <h2>高额卡推荐</h2>
                                    <p>卡神精选高额卡</p>
                                </div><img src="https://pic.51zhangdan.com/2016/12/NR/AR/TDbMml9tzYI9jt4EWpeh9p5IxkMerWQp.png"></li>
                            <li rel="37" link="http://credit.u51.com/evt/xiaobai.html" title="信用卡小白进阶">
                                <div>
                                    <h2>信用卡小白进阶</h2>
                                    <p>第一张信用卡</p>
                                </div><img src="https://pic.51zhangdan.com/2016/12/S1/Od/FosxUnh9yW7JFIw1H6CSGb8tbnlxKK8f.png"></li>
                        </ul>
                    </div>
                    <div class="wblock" id="qtlm">
                        <ul class="otherfun clickpa" id="otherfun">
                            <li rel="33" link="" title="预约办卡" style="width: calc(33.3333%);"><img src="https://pic.51zhangdan.com/2016/12/nk/8P/aWr3poSOnIAUlElCuJ3YjhR5AwdJRWeH.png">
                                <h2>预约办卡</h2>
                            </li>
                            <li rel="34" link="https://www.51zhangdan.com/www_bks/v4/progress/index.html&amp;cityCode=4403" title="进度查询" style="width: calc(33.3333%);"><img src="https://pic.51zhangdan.com/2016/12/A3/UC/p1dshZlltbxqZqS1WQ3FTBu2fddDq28i.png">
                                <h2>进度查询</h2>
                            </li>
                            <li rel="35" link="http://credit.u51.com/youhui/?fr=51BK" title="办卡攻略" style="width: calc(33.3333%);"><img src="https://pic.51zhangdan.com/2016/12/A0/v6/3uGmLmG7tIjOQydUHRzwErzyubBYodOV.png">
                                <h2>办卡攻略</h2>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

   <script src="/javascripts/src/cardindex.js"></script>