<div class="wrap" id='allcard' style="overflow:scroll; ">
      <div class="con">
        <div class="banner">
        </div>
        <ul class='bankcard'>
          <li>正在加载...</li>
        </ul>
      </div>
    </div>

       <script src="/javascripts/src/cardlist.js"></script>