<li class='mui-table-view-cellq m-top cpc-vb'>
    <a href='/wxshishidaiDetail_53.shtml'>
        <div class='cpc-leftss'>
            <div class='cpc-bod2'><img src='http://shanghai.99dai.cn/UpLoadFiles/20160630/2016063014132748.jpg' style=' height:60px; width:60px;'></div>
            <div class='cpc-hbox'>
                <h2 class='cpc-h2a'><b>平安i贷-应急贷</b></h2><span class='cpc-spanfg'>适用人群：所有人群</span><span class='cpc-spanfg'>申请人数：<b>956520人</b></span></div>
        </div>
        <ul class='ss-list-tin'>
            <li style=' width:25%' class='ss-list-bor'><span>45.00%</span>成功率</li>
            <li style=' width:25%' class='ss-list-bor'><span>1%</span>月利率</li>
            <li style=' width:25%' class='ss-list-bor'><span>0.50万</span>平均额度</li>
            <li style=' width:25%'><span>当日放款</span>平均用时</li>
            <div class='c'></div>
        </ul>
        <div class='cpc-bottum'><span class='cpc-bot-span'>18-60周岁大陆公民即可申请，最快6分钟放款，最高放款30000！</span></div>
    </a>
</li>
<li class='mui-table-view-cellq m-top cpc-vb'>
    <a href='/wxshishidaiDetail_87.shtml'>
        <div class='cpc-leftss'>
            <div class='cpc-bod2'><img src='http://shanghai.99dai.cn/UpLoadFiles/20161117/2016111714595927.png' style=' height:60px; width:60px;'></div>
            <div class='cpc-hbox'>
                <h2 class='cpc-h2a'><b>曹操贷-极速贷款</b></h2><span class='cpc-spanfg'>适用人群：上班族、个体户、大学生</span><span class='cpc-spanfg'>申请人数：<b>231372人</b></span></div>
        </div>
        <ul class='ss-list-tin'>
            <li style=' width:25%' class='ss-list-bor'><span>25.00%</span>成功率</li>
            <li style=' width:25%' class='ss-list-bor'><span>0.3%</span>日利率</li>
            <li style=' width:25%' class='ss-list-bor'><span>0.10万</span>平均额度</li>
            <li style=' width:25%'><span>2小时</span>平均用时</li>
            <div class='c'></div>
        </ul>
        <div class='cpc-bottum'><span class='cpc-bot-span'>18-65周岁的上班族、个体户、大学生即可申请，最快10分钟放款，最高放款3000！</span></div>
    </a>
</li>
<li class='mui-table-view-cellq m-top cpc-vb'>
    <a href='/wxshishidaiDetail_54.shtml'>
        <div class='cpc-leftss'>
            <div class='cpc-bod2'><img src='http://shanghai.99dai.cn/UpLoadFiles/20170220/2017022010315035.png' style=' height:60px; width:60px;'></div>
            <div class='cpc-hbox'>
                <h2 class='cpc-h2a'><b>2345贷款王-借钱不用还  </b></h2><span class='cpc-spanfg'>适用人群：非学生即可</span><span class='cpc-spanfg'>申请人数：<b>855115人</b></span></div>
        </div>
        <ul class='ss-list-tin'>
            <li style=' width:25%' class='ss-list-bor'><span>42.50%</span>成功率</li>
            <li style=' width:25%' class='ss-list-bor'><span>3%</span>月利率</li>
            <li style=' width:25%' class='ss-list-bor'><span>0.30万</span>平均额度</li>
            <li style=' width:25%'><span>2分钟</span>平均用时</li>
            <div class='c'></div>
        </ul>
        <div class='cpc-bottum'><span class='cpc-bot-span'>20-45周岁的上班族和个体户即可申请，最快30秒放款，最高5000！</span></div>
    </a>
</li>
<li class='mui-table-view-cellq m-top cpc-vb'>
    <a href='/wxshishidaiDetail_76.shtml'>
        <div class='cpc-leftss'>
            <div class='cpc-bod2'><img src='http://shanghai.99dai.cn/UpLoadFiles/20160926/2016092614010928.png' style=' height:60px; width:60px;'></div>
            <div class='cpc-hbox'>
                <h2 class='cpc-h2a'><b>用钱宝-千元借款</b></h2><span class='cpc-spanfg'>适用人群：上班族、企业主、个体户</span><span class='cpc-spanfg'>申请人数：<b>725279人</b></span></div>
        </div>
        <ul class='ss-list-tin'>
            <li style=' width:25%' class='ss-list-bor'><span>20.00%</span>成功率</li>
            <li style=' width:25%' class='ss-list-bor'><span>1.5%</span>月利率</li>
            <li style=' width:25%' class='ss-list-bor'><span>0.10万</span>平均额度</li>
            <li style=' width:25%'><span>2小时</span>平均用时</li>
            <div class='c'></div>
        </ul>
        <div class='cpc-bottum'><span class='cpc-bot-span'>18-40周岁的固定职业者即可申请，最快30分钟放款，最高放款5000！</span></div>
    </a>
</li>
<li class='mui-table-view-cellq m-top cpc-vb'>
    <a href='/wxshishidaiDetail_81.shtml'>
        <div class='cpc-leftss'>
            <div class='cpc-bod2'><img src='http://shanghai.99dai.cn/UpLoadFiles/20170118/2017011811221265.jpg' style=' height:60px; width:60px;'></div>
            <div class='cpc-hbox'>
                <h2 class='cpc-h2a'><b>现金借款-现金小额贷</b></h2><span class='cpc-spanfg'>适用人群：所有人群</span><span class='cpc-spanfg'>申请人数：<b>959073人</b></span></div>
        </div>
        <ul class='ss-list-tin'>
            <li style=' width:25%' class='ss-list-bor'><span>40.00%</span>成功率</li>
            <li style=' width:25%' class='ss-list-bor'><span>0.3%</span>日利率</li>
            <li style=' width:25%' class='ss-list-bor'><span>0.10万</span>平均额度</li>
            <li style=' width:25%'><span>3小时</span>平均用时</li>
            <div class='c'></div>
        </ul>
        <div class='cpc-bottum'><span class='cpc-bot-span'>18-35周岁大陆公民即可申请，最快3分钟放款，最高放款1000！</span></div>
    </a>
</li>
<li class='mui-table-view-cellq m-top cpc-vb'>
    <a href='/wxshishidaiDetail_85.shtml'>
        <div class='cpc-leftss'>
            <div class='cpc-bod2'><img src='http://shanghai.99dai.cn/UpLoadFiles/20161117/2016111711112824.png' style=' height:60px; width:60px;'></div>
            <div class='cpc-hbox'>
                <h2 class='cpc-h2a'><b>先花一亿元-极速借款</b></h2><span class='cpc-spanfg'>适用人群：所有人群</span><span class='cpc-spanfg'>申请人数：<b>849132人</b></span></div>
        </div>
        <ul class='ss-list-tin'>
            <li style=' width:25%' class='ss-list-bor'><span>8.00%</span>成功率</li>
            <li style=' width:25%' class='ss-list-bor'><span>0.05%</span>日利率</li>
            <li style=' width:25%' class='ss-list-bor'><span>0.30万</span>平均额度</li>
            <li style=' width:25%'><span>8小时</span>平均用时</li>
            <div class='c'></div>
        </ul>
        <div class='cpc-bottum'><span class='cpc-bot-span'>18-30周岁大陆公民即可申请，最快10分钟放款，最高放款10000！</span></div>
    </a>
</li>
<li class='mui-table-view-cellq m-top cpc-vb'>
    <a href='/wxshishidaiDetail_116.shtml'>
        <div class='cpc-leftss'>
            <div class='cpc-bod2'><img src='http://shanghai.99dai.cn/UpLoadFiles/20170117/2017011710490878.jpg' style=' height:60px; width:60px;'></div>
            <div class='cpc-hbox'>
                <h2 class='cpc-h2a'><b>极速现金侠-极速借款</b></h2><span class='cpc-spanfg'>适用人群：所有人群</span><span class='cpc-spanfg'>申请人数：<b>251443人</b></span></div>
        </div>
        <ul class='ss-list-tin'>
            <li style=' width:25%' class='ss-list-bor'><span>20.00%</span>成功率</li>
            <li style=' width:25%' class='ss-list-bor'><span>0.9%</span>月利率</li>
            <li style=' width:25%' class='ss-list-bor'><span>0.05万</span>平均额度</li>
            <li style=' width:25%'><span>1小时</span>平均用时</li>
            <div class='c'></div>
        </ul>
        <div class='cpc-bottum'><span class='cpc-bot-span'>18-30周岁的大陆公民即可申请，最快3分钟放款，最高放款1000！</span></div>
    </a>
</li>
<li class='mui-table-view-cellq m-top cpc-vb'>
    <a href='/wxshishidaiDetail_69.shtml'>
        <div class='cpc-leftss'>
            <div class='cpc-bod2'><img src='http://shanghai.99dai.cn/UpLoadFiles/20160909/2016090917302303.jpg' style=' height:60px; width:60px;'></div>
            <div class='cpc-hbox'>
                <h2 class='cpc-h2a'><b>魔法现金-信用贷</b></h2><span class='cpc-spanfg'>适用人群：所有人群</span><span class='cpc-spanfg'>申请人数：<b>280349人</b></span></div>
        </div>
        <ul class='ss-list-tin'>
            <li style=' width:25%' class='ss-list-bor'><span>25.00%</span>成功率</li>
            <li style=' width:25%' class='ss-list-bor'><span>0.7%</span>月利率</li>
            <li style=' width:25%' class='ss-list-bor'><span>0.15万</span>平均额度</li>
            <li style=' width:25%'><span>10分钟</span>平均用时</li>
            <div class='c'></div>
        </ul>
        <div class='cpc-bottum'><span class='cpc-bot-span'>18-55周岁大陆公民即可申请，最快3分钟放款，最高放款3000！</span></div>
    </a>
</li>
<li class='mui-table-view-cellq m-top cpc-vb'>
    <a href='/wxshishidaiDetail_44.shtml'>
        <div class='cpc-leftss'>
            <div class='cpc-bod2'><img src='http://shanghai.99dai.cn/UpLoadFiles/20161125/2016112510461389.png' style=' height:60px; width:60px;'></div>
            <div class='cpc-hbox'>
                <h2 class='cpc-h2a'><b>手机贷-简单易贷</b></h2><span class='cpc-spanfg'>适用人群：上班族、企业主、个体户</span><span class='cpc-spanfg'>申请人数：<b>994754人</b></span></div>
        </div>
        <ul class='ss-list-tin'>
            <li style=' width:25%' class='ss-list-bor'><span>40.00%</span>成功率</li>
            <li style=' width:25%' class='ss-list-bor'><span>0.9%</span>月利率</li>
            <li style=' width:25%' class='ss-list-bor'><span>0.30万</span>平均额度</li>
            <li style=' width:25%'><span>1天</span>平均用时</li>
            <div class='c'></div>
        </ul>
        <div class='cpc-bottum'><span class='cpc-bot-span'>18-55周岁，有固定工作者即可申请，最快当天就能放款，最高放款5000！</span></div>
    </a>
</li>
<li class='mui-table-view-cellq m-top cpc-vb'>
    <a href='/wxshishidaiDetail_79.shtml'>
        <div class='cpc-leftss'>
            <div class='cpc-bod2'><img src='http://shanghai.99dai.cn/UpLoadFiles/20170217/2017021711345310.png' style=' height:60px; width:60px;'></div>
            <div class='cpc-hbox'>
                <h2 class='cpc-h2a'><b>现金卡-快速贷</b></h2><span class='cpc-spanfg'>适用人群：所有人群</span><span class='cpc-spanfg'>申请人数：<b>842396人</b></span></div>
        </div>
        <ul class='ss-list-tin'>
            <li style=' width:25%' class='ss-list-bor'><span>30.00%</span>成功率</li>
            <li style=' width:25%' class='ss-list-bor'><span>0.3%</span>日利率</li>
            <li style=' width:25%' class='ss-list-bor'><span>0.20万</span>平均额度</li>
            <li style=' width:25%'><span>1小时</span>平均用时</li>
            <div class='c'></div>
        </ul>
        <div class='cpc-bottum'><span class='cpc-bot-span'>18-35周岁内地公民即可申请，最快5分钟放款，最高放款5000！</span></div>
    </a>
</li>
<li class='mui-table-view-cellq m-top cpc-vb'>
    <a href='/wxshishidaiDetail_28.shtml'>
        <div class='cpc-leftss'>
            <div class='cpc-bod2'><img src='http://shanghai.99dai.cn/UpLoadFiles/20160517/2016051713012032.jpg' style=' height:60px; width:60px;'></div>
            <div class='cpc-hbox'>
                <h2 class='cpc-h2a'><b>现金巴士-十万火急</b></h2><span class='cpc-spanfg'>适用人群：所有人群</span><span class='cpc-spanfg'>申请人数：<b>872209人</b></span></div>
        </div>
        <ul class='ss-list-tin'>
            <li style=' width:25%' class='ss-list-bor'><span>30.00%</span>成功率</li>
            <li style=' width:25%' class='ss-list-bor'><span>0.85%</span>月利率</li>
            <li style=' width:25%' class='ss-list-bor'><span>0.10万</span>平均额度</li>
            <li style=' width:25%'><span>1小时</span>平均用时</li>
            <div class='c'></div>
        </ul>
        <div class='cpc-bottum'><span class='cpc-bot-span'>18-55周岁大陆公民即可申请，最快3分钟放款，最高放款额1000！</span></div>
    </a>
</li>
<li class='mui-table-view-cellq m-top cpc-vb'>
    <a href='/wxshishidaiDetail_49.shtml'>
        <div class='cpc-leftss'>
            <div class='cpc-bod2'><img src='http://shanghai.99dai.cn/UpLoadFiles/20170104/2017010409500761.png' style=' height:60px; width:60px;'></div>
            <div class='cpc-hbox'>
                <h2 class='cpc-h2a'><b>极速贷-信用卡还款</b></h2><span class='cpc-spanfg'>适用人群：上班族</span><span class='cpc-spanfg'>申请人数：<b>740421人</b></span></div>
        </div>
        <ul class='ss-list-tin'>
            <li style=' width:25%' class='ss-list-bor'><span>30.00%</span>成功率</li>
            <li style=' width:25%' class='ss-list-bor'><span>0.45%</span>月利率</li>
            <li style=' width:25%' class='ss-list-bor'><span>0.80万</span>平均额度</li>
            <li style=' width:25%'><span>1天</span>平均用时</li>
            <div class='c'></div>
        </ul>
        <div class='cpc-bottum'><span class='cpc-bot-span'>20-50周岁的上班族即可申请，最快1天放款，最高放款50000！</span></div>
    </a>
</li>
<li class='mui-table-view-cellq m-top cpc-vb'>
    <a href='/wxshishidaiDetail_68.shtml'>
        <div class='cpc-leftss'>
            <div class='cpc-bod2'><img src='http://shanghai.99dai.cn/UpLoadFiles/20160908/2016090813405722.png' style=' height:60px; width:60px;'></div>
            <div class='cpc-hbox'>
                <h2 class='cpc-h2a'><b>布丁小贷-信用借贷</b></h2><span class='cpc-spanfg'>适用人群：上班族、企业主、个体户</span><span class='cpc-spanfg'>申请人数：<b>146614人</b></span></div>
        </div>
        <ul class='ss-list-tin'>
            <li style=' width:25%' class='ss-list-bor'><span>35.00%</span>成功率</li>
            <li style=' width:25%' class='ss-list-bor'><span>2.4%</span>月利率</li>
            <li style=' width:25%' class='ss-list-bor'><span>0.20万</span>平均额度</li>
            <li style=' width:25%'><span>1天</span>平均用时</li>
            <div class='c'></div>
        </ul>
        <div class='cpc-bottum'><span class='cpc-bot-span'>18-55周岁上班族即可申请，最快30分钟放款，最高放款5000！</span></div>
    </a>
</li>
<li class='mui-table-view-cellq m-top cpc-vb'>
    <a href='/wxshishidaiDetail_82.shtml'>
        <div class='cpc-leftss'>
            <div class='cpc-bod2'><img src='http://shanghai.99dai.cn/UpLoadFiles/20161031/2016103111152491.png' style=' height:60px; width:60px;'></div>
            <div class='cpc-hbox'>
                <h2 class='cpc-h2a'><b>人品贷-51大额贷</b></h2><span class='cpc-spanfg'>适用人群：上班族、企业主、个体户、自由职业者</span><span class='cpc-spanfg'>申请人数：<b>176793人</b></span></div>
        </div>
        <ul class='ss-list-tin'>
            <li style=' width:25%' class='ss-list-bor'><span>25.00%</span>成功率</li>
            <li style=' width:25%' class='ss-list-bor'><span>0.35%</span>月利率</li>
            <li style=' width:25%' class='ss-list-bor'><span>3.00万</span>平均额度</li>
            <li style=' width:25%'><span>2天</span>平均用时</li>
            <div class='c'></div>
        </ul>
        <div class='cpc-bottum'><span class='cpc-bot-span'>20-35周岁上班族、企业主、个体户、自由职业者即可申请，最快当天放款，最高放款100000！</span></div>
    </a>
</li>
<li class='mui-table-view-cellq m-top cpc-vb'>
    <a href='/wxshishidaiDetail_74.shtml'>
        <div class='cpc-leftss'>
            <div class='cpc-bod2'><img src='http://shanghai.99dai.cn/UpLoadFiles/20160922/2016092211071399.jpg' style=' height:60px; width:60px;'></div>
            <div class='cpc-hbox'>
                <h2 class='cpc-h2a'><b>捷信福贷-小额现金贷</b></h2><span class='cpc-spanfg'>适用人群：所有人群</span><span class='cpc-spanfg'>申请人数：<b>770445人</b></span></div>
        </div>
        <ul class='ss-list-tin'>
            <li style=' width:25%' class='ss-list-bor'><span>30.00%</span>成功率</li>
            <li style=' width:25%' class='ss-list-bor'><span>3.44%</span>月利率</li>
            <li style=' width:25%' class='ss-list-bor'><span>0.10万</span>平均额度</li>
            <li style=' width:25%'><span>10分钟</span>平均用时</li>
            <div class='c'></div>
        </ul>
        <div class='cpc-bottum'><span class='cpc-bot-span'>18-55周岁大陆公民即可申请，最快5分钟放款，最高放款1500！</span></div>
    </a>
</li>
<li class='mui-table-view-cellq m-top cpc-vb'>
    <a href='/wxshishidaiDetail_48.shtml'>
        <div class='cpc-leftss'>
            <div class='cpc-bod2'><img src='http://shanghai.99dai.cn/UpLoadFiles/20160608/2016060815272719.png' style=' height:60px; width:60px;'></div>
            <div class='cpc-hbox'>
                <h2 class='cpc-h2a'><b>闪电借款-小额现金贷</b></h2><span class='cpc-spanfg'>适用人群：所有人群</span><span class='cpc-spanfg'>申请人数：<b>758929人</b></span></div>
        </div>
        <ul class='ss-list-tin'>
            <li style=' width:25%' class='ss-list-bor'><span>40.00%</span>成功率</li>
            <li style=' width:25%' class='ss-list-bor'><span>0.38%</span>月利率</li>
            <li style=' width:25%' class='ss-list-bor'><span>0.40万</span>平均额度</li>
            <li style=' width:25%'><span>55秒</span>平均用时</li>
            <div class='c'></div>
        </ul>
        <div class='cpc-bottum'><span class='cpc-bot-span'>18-60周岁大陆公民即可申请，最快30秒放款，最高放款5000！</span></div>
    </a>
</li>
<li class='mui-table-view-cellq m-top cpc-vb'>
    <a href='/wxshishidaiDetail_61.shtml'>
        <div class='cpc-leftss'>
            <div class='cpc-bod2'><img src='http://shanghai.99dai.cn/UpLoadFiles/20160912/2016091210325174.png' style=' height:60px; width:60px;'></div>
            <div class='cpc-hbox'>
                <h2 class='cpc-h2a'><b>信用钱包-量化派</b></h2><span class='cpc-spanfg'>适用人群：所有人群</span><span class='cpc-spanfg'>申请人数：<b>555605人</b></span></div>
        </div>
        <ul class='ss-list-tin'>
            <li style=' width:25%' class='ss-list-bor'><span>30.00%</span>成功率</li>
            <li style=' width:25%' class='ss-list-bor'><span>1%</span>月利率</li>
            <li style=' width:25%' class='ss-list-bor'><span>0.40万</span>平均额度</li>
            <li style=' width:25%'><span>1天</span>平均用时</li>
            <div class='c'></div>
        </ul>
        <div class='cpc-bottum'><span class='cpc-bot-span'>18-60周岁大陆公民即可申请，最快10分钟放款，最高放款10000！</span></div>
    </a>
</li>
<li class='mui-table-view-cellq m-top cpc-vb'>
    <a href='/wxshishidaiDetail_43.shtml'>
        <div class='cpc-leftss'>
            <div class='cpc-bod2'><img src='http://shanghai.99dai.cn/UpLoadFiles/20160525/2016052514581805.png' style=' height:60px; width:60px;'></div>
            <div class='cpc-hbox'>
                <h2 class='cpc-h2a'><b>拍拍贷-个人贷</b></h2><span class='cpc-spanfg'>适用人群：所有人群</span><span class='cpc-spanfg'>申请人数：<b>513339人</b></span></div>
        </div>
        <ul class='ss-list-tin'>
            <li style=' width:25%' class='ss-list-bor'><span>20.00%</span>成功率</li>
            <li style=' width:25%' class='ss-list-bor'><span>1.04%</span>月利率</li>
            <li style=' width:25%' class='ss-list-bor'><span>1.00万</span>平均额度</li>
            <li style=' width:25%'><span>1天</span>平均用时</li>
            <div class='c'></div>
        </ul>
        <div class='cpc-bottum'><span class='cpc-bot-span'>19-50周岁的大陆公民即可申请，最快8分钟放款，最高放款500000！</span></div>
    </a>
</li>
<li class='mui-table-view-cellq m-top cpc-vb'>
    <a href='/wxshishidaiDetail_47.shtml'>
        <div class='cpc-leftss'>
            <div class='cpc-bod2'><img src='http://shanghai.99dai.cn/UpLoadFiles/20160601/2016060110085891.png' style=' height:60px; width:60px;'></div>
            <div class='cpc-hbox'>
                <h2 class='cpc-h2a'><b>读秒-低率大额贷</b></h2><span class='cpc-spanfg'>适用人群：上班族，企业主，个体户</span><span class='cpc-spanfg'>申请人数：<b>184340人</b></span></div>
        </div>
        <ul class='ss-list-tin'>
            <li style=' width:25%' class='ss-list-bor'><span>7.00%</span>成功率</li>
            <li style=' width:25%' class='ss-list-bor'><span>0.72%</span>月利率</li>
            <li style=' width:25%' class='ss-list-bor'><span>1.00万</span>平均额度</li>
            <li style=' width:25%'><span>1-2天</span>平均用时</li>
            <div class='c'></div>
        </ul>
        <div class='cpc-bottum'><span class='cpc-bot-span'>22-55周岁的固定职业者即可申请，最快1天放款，最高50000！</span></div>
    </a>
</li>
<li class='mui-table-view-cellq m-top cpc-vb'>
    <a href='/wxshishidaiDetail_4.shtml'>
        <div class='cpc-leftss'>
            <div class='cpc-bod2'><img src='http://shanghai.99dai.cn/UpLoadFiles/20160323/2016032318244599.jpg' style=' height:60px; width:60px;'></div>
            <div class='cpc-hbox'>
                <h2 class='cpc-h2a'><b>马上贷-工薪贷</b></h2><span class='cpc-spanfg'>适用人群：上班族</span><span class='cpc-spanfg'>申请人数：<b>274591人</b></span></div>
        </div>
        <ul class='ss-list-tin'>
            <li style=' width:25%' class='ss-list-bor'><span>6.00%</span>成功率</li>
            <li style=' width:25%' class='ss-list-bor'><span>1%</span>月利率</li>
            <li style=' width:25%' class='ss-list-bor'><span>0.50万</span>平均额度</li>
            <li style=' width:25%'><span>1天</span>平均用时</li>
            <div class='c'></div>
        </ul>
        <div class='cpc-bottum'><span class='cpc-bot-span'>18-55周岁上班族即可申请，最快3分钟放款，最高50000！</span></div>
    </a>
</li>
<li class='mui-table-view-cellq m-top cpc-vb'>
    <a href='/wxshishidaiDetail_31.shtml'>
        <div class='cpc-leftss'>
            <div class='cpc-bod2'><img src='http://shanghai.99dai.cn/UpLoadFiles/20161031/2016103117144976.png' style=' height:60px; width:60px;'></div>
            <div class='cpc-hbox'>
                <h2 class='cpc-h2a'><b>闪银-信用贷</b></h2><span class='cpc-spanfg'>适用人群：上班族、大学生</span><span class='cpc-spanfg'>申请人数：<b>821465人</b></span></div>
        </div>
        <ul class='ss-list-tin'>
            <li style=' width:25%' class='ss-list-bor'><span>45.00%</span>成功率</li>
            <li style=' width:25%' class='ss-list-bor'><span>1%</span>月利率</li>
            <li style=' width:25%' class='ss-list-bor'><span>0.70万</span>平均额度</li>
            <li style=' width:25%'><span>1天</span>平均用时</li>
            <div class='c'></div>
        </ul>
        <div class='cpc-bottum'><span class='cpc-bot-span'>18-60周岁上班族和大学生即可申请，最快3分钟放款，最高放款50000！</span></div>
    </a>
</li>
<li class='mui-table-view-cellq m-top cpc-vb'>
    <a href='/wxshishidaiDetail_17.shtml'>
        <div class='cpc-leftss'>
            <div class='cpc-bod2'><img src='http://shanghai.99dai.cn/UpLoadFiles/20160722/2016072210112015.jpg' style=' height:60px; width:60px;'></div>
            <div class='cpc-hbox'>
                <h2 class='cpc-h2a'><b>名校贷-大额低息贷</b></h2><span class='cpc-spanfg'>适用人群：在校大学生</span><span class='cpc-spanfg'>申请人数：<b>183136人</b></span></div>
        </div>
        <ul class='ss-list-tin'>
            <li style=' width:25%' class='ss-list-bor'><span>40.00%</span>成功率</li>
            <li style=' width:25%' class='ss-list-bor'><span>0.99%</span>月利率</li>
            <li style=' width:25%' class='ss-list-bor'><span>0.10万</span>平均额度</li>
            <li style=' width:25%'><span>1小时</span>平均用时</li>
            <div class='c'></div>
        </ul>
        <div class='cpc-bottum'><span class='cpc-bot-span'>在校大学生即可申请，最快1分钟放款，最高1000！</span></div>
    </a>
</li>
<li class='mui-table-view-cellq m-top cpc-vb'>
    <a href='/wxshishidaiDetail_80.shtml'>
        <div class='cpc-leftss'>
            <div class='cpc-bod2'><img src='http://shanghai.99dai.cn/UpLoadFiles/20161014/2016101411155748.png' style=' height:60px; width:60px;'></div>
            <div class='cpc-hbox'>
                <h2 class='cpc-h2a'><b>乐宝袋-信用提现</b></h2><span class='cpc-spanfg'>适用人群：所有人群</span><span class='cpc-spanfg'>申请人数：<b>173138人</b></span></div>
        </div>
        <ul class='ss-list-tin'>
            <li style=' width:25%' class='ss-list-bor'><span>20.00%</span>成功率</li>
            <li style=' width:25%' class='ss-list-bor'><span>2.3%</span>月利率</li>
            <li style=' width:25%' class='ss-list-bor'><span>0.25万</span>平均额度</li>
            <li style=' width:25%'><span>1天</span>平均用时</li>
            <div class='c'></div>
        </ul>
        <div class='cpc-bottum'><span class='cpc-bot-span'>18-40周岁大陆公民即可申请，最快1小时放款，最高放款5000！</span></div>
    </a>
</li>