   <header id="header" class="mui-bar mui-bar-nav">
			<a id="back" href="http://m.99dai.cn" class="mui-action-back mui-icon1 logo-bars mui-pull-left"><img src="images/logo-loal.png" width="70" height="30"></a>
            
            <a id="btnClick" class="mui-icon1 mui-pull-right" href="javascript:void(0);" >下载APP</a>

		</header>
    <div class="mui-content">
        <img width="100%" src="images/banner-zxd2.png">
        <ul id="zxdUl">
            
        </ul>
    </div>
    <div class="fen-box" id="divfx" style="display: none; z-index: 2; position: fixed;
        left: 0; bottom: 0;">
        <ul>
            <li><a href="javascript:fxpy();" id="btnWeixinShare">
                <img src="images/weixin.png">微信</a></li>
            <li><a href="javascript:fxpyq();" id="btnShareFriends">
                <img src="images/pyq.png">朋友圈</a></li>
            <div class="c">
            </div>
        </ul>
        <div class="fen-btn">
            <button type="button" class="mui-btn mui-btn-block mui-btn-outlined" onclick="colsediv();">
                取消</button></div>
    </div>

    <script src="javascripts/src/home.js"></script>