<div>
        
            <header id="header" class="mui-bar mui-bar-nav">
			<a id="back" href="http://m.99dai.cn" class="mui-action-back mui-icon1 logo-bars mui-pull-left"><img src="images/logo-loal.png" width="70" height="30"></a>
		</header>

                 <div class="mui-content" style="padding-bottom:12%;">
          
            <ul>
             
                <li class="mui-table-view-cellx">
				  <a href="javascript:void(0)">
                   <div class="cpc-leftv">
                   <div class="cpc-bod2"><img src="http://shanghai.99dai.cn/UpLoadFiles/20160630/2016063014132748.jpg" style=" height:60px; width:60px;"></div>
                     <div class="cpc-hbox">
                          <h2 class="cpc-h2a"><b>平安i贷-应急贷</b></h2>
                          <span class="cpc-spanfg">适用人群：所有人群</span>
                          <span class="cpc-spanfg"><i>申请人数：</i><i>956702</i>人</span>
                     </div>
					 </div>
                     <div class="c"></div>
                     <ul class="ss-list-tins">
                   <li class="ss-list-bor"><span>45.00%</span>成功率</li>
                   <li class="ss-list-bor"><span>1%</span>月利率</li>
                   <li class="ss-list-bor"><span>0.50万</span>平均额度</li>
                   <li><span>当日放款</span>平均用时</li>
                  <li class="ss-list-bor"><span>0-36个月</span>贷款期限</li>
                   <li class="ss-list-bor"><span>随借随还</span>还款方式</li>
                   <li class="ss-list-bor"><span>0.2-3万</span>额度范围</li>
                   <li><span>6分钟</span>最快用时</li>
                   <div class="c"></div>
              </ul>
					 <div class="cpc-bottum2"><span class="cpc-bot-span1">18-60周岁大陆公民即可申请，最快6分钟放款，最高放款30000！</span></div>
				   </a>
		        </li>
          </ul>
              
           <div class="ruzhu1">
      <ul class="table_bg">
				<li class="mui-table-view-cell mui-collapse table_li">
                <a href="javascript:void(0)">
                <span class="xq-ico xq01"></span><b class="Detz_b">贷款条件</b>
                <div class="Dett">1、年龄：18-60周岁；</div>
             </a>
        </li> 
              <li class="mui-table-view-cell mui-collapse table_li"><span class="xq-ico xq04"></span><b class="Detz_b">申请资料</b><div class="Dett"><p>
	1、身份证；
</p>
<p>
	2、手机验证；
</p>
<p>
	3、与手机绑定的银行卡；
</p></div></li>

              <li class="mui-table-view-cell mui-collapse table_li"><span class="xq-ico"><img src="/online/images/qita.png"></span><b class="Detz_b">其他</b><div class="Dett"><p>
	审核方式：<span style="line-height:1.5;">纯线上审核，无需电话联系本人</span> 
</p></div></li>
			</ul>
            <div class="c"></div>
           </div>
           <div class="c"></div>    
        </div>

            <div class="mui-bar2 mui-bar-tab" style="bottom: 0; left: 0; position: fixed; width: 100%;">
                <div class="self-btna">
                    <a class="mui-btn mui-btn-success mui-btn-block" href="/online/wxtiaozhuan.aspx?id=53">
                        申请贷款</a></div>
            </div>

    </div>