<div>
        
            <header id="header" class="mui-bar mui-bar-nav">
			<a id="back" href="http://m.99dai.cn" class="mui-action-back mui-icon1 logo-bars mui-pull-left"><img src="images/logo-loal.png" width="70" height="30"></a>
		</header>

                 <div class="mui-content" style="padding-bottom:12%;">
          
            <ul>
             
                <li class="mui-table-view-cellx">
				  <a href="javascript:void(0)">
                   <div class="cpc-leftv">
                   <div class="cpc-bod2"><img src="http://shanghai.99dai.cn/UpLoadFiles/20170220/2017022010315035.png" style=" height:60px; width:60px;"></div>
                     <div class="cpc-hbox">
                          <h2 class="cpc-h2a"><b>2345贷款王-借钱不用还  </b></h2>
                          <span class="cpc-spanfg">适用人群：非学生即可</span>
                          <span class="cpc-spanfg"><i>申请人数：</i><i>855191</i>人</span>
                     </div>
					 </div>
                     <div class="c"></div>
                     <ul class="ss-list-tins">
                   <li class="ss-list-bor"><span>42.50%</span>成功率</li>
                   <li class="ss-list-bor"><span>3%</span>月利率</li>
                   <li class="ss-list-bor"><span>0.30万</span>平均额度</li>
                   <li><span>2分钟</span>平均用时</li>
                  <li class="ss-list-bor"><span>1-30天</span>贷款期限</li>
                   <li class="ss-list-bor"><span>到期还款</span>还款方式</li>
                   <li class="ss-list-bor"><span>0.05-0.5万</span>额度范围</li>
                   <li><span>30秒</span>最快用时</li>
                   <div class="c"></div>
              </ul>
					 <div class="cpc-bottum2"><span class="cpc-bot-span1">20-45周岁的上班族和个体户即可申请，最快30秒放款，最高5000！</span></div>
				   </a>
		        </li>
          </ul>
              
           <div class="ruzhu1">
      <ul class="table_bg">
				<li class="mui-table-view-cell mui-collapse table_li">
                <a href="javascript:void(0)">
                <span class="xq-ico xq01"></span><b class="Detz_b">贷款条件</b>
                <div class="Dett"><p>
	1、年龄：20-45岁；
</p>
<p>
	2、收入稳定的上班族和个体户即可申请；
</p>
3、信用记录良好，无任何逾期；<br>
<br></div>
             </a>
        </li> 
              <li class="mui-table-view-cell mui-collapse table_li"><span class="xq-ico xq04"></span><b class="Detz_b">申请资料</b><div class="Dett"><p>
	1、身份证；
</p>
2、与手机绑定的银行卡；<br>
<br></div></li>

              <li class="mui-table-view-cell mui-collapse table_li"><span class="xq-ico"><img src="/images/online/qita.png"></span><b class="Detz_b">其他</b><div class="Dett"><p>
	审核方式：纯线上审核，无需电话联系本人
</p>
<p>
	<br>
</p></div></li>
			</ul>
            <div class="c"></div>
           </div>
           <div class="c"></div>    
        </div>

            <div class="mui-bar2 mui-bar-tab" style="bottom: 0; left: 0; position: fixed; width: 100%;">
                <div class="self-btna">
                    <a class="mui-btn mui-btn-success mui-btn-block" href="/online/wxtiaozhuan.aspx?id=54">
                        申请贷款</a></div>
            </div>

    </div>