<div  style="text-align:center">
    <h1>助贷Demo</h1>
    <div style="padding-top:20px;">
    <a href="/daikuan" style="color:#00BCD4;padding-right: 20px;">贷款页面</a>
    <a href="/card/index" style="color:#00BCD4" >信用卡页面</a>
    </div>
</div>